.about {
  align-items: center;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 36px;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    margin-top: 52px;
  }

  @media screen and (min-width: 1338px) {
    margin-top: 192px;
  }
}
.about-about {
  display: flex;
  @media screen and (min-width: 319px) and (max-width: 767px) {
    flex-direction: column-reverse;
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1337px) {
  }
  @media screen and (min-width: 1338px) {
  }
}
.about-left {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    width: 321px;
    margin-right: 78px;
  }
  @media screen and (min-width: 1338px) {
    width: 652px;
    margin-right: 146px;
  }
}
.about-left__title {
  font-family: $font-style;
  font-weight: 600;
  color: #000000;
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 30px;
    line-height: calc(80 / 30);
  }
  @media screen and (min-width: 1338px) {
    font-size: 48px;
    line-height: 1.5;
  }
}
.about-left__desc {
  font-family: $font-style;
  font-weight: $font-weight400;
  color: #8f95a5;
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
  @media screen and (min-width: 1338px) {
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 1.5;
    margin-top: 65px;
  }
}
.about-left__list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
  }
  @media screen and (min-width: 1338px) {
    margin-top: 40px;
  }
  display: flex;
}
.about-left__number {
  font-family: $font-style;
  font-weight: 600;

  color: #2a3246;
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 22px;
    line-height: calc(80 / 22);
  }
  @media screen and (min-width: 1338px) {
    font-size: 48px;
    line-height: 1.5;
  }
}
.about-left__txt {
  font-family: $font-style;
  text-align: center;
  font-weight: 400;
  color: #8f95a5;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 767px) and (max-width: 1337px) {
    font-size: 13px;
    line-height: calc(20 / 13);
  }
  @media screen and (min-width: 1338px) {
    font-size: 20px;
    line-height: 1.5;
  }
}
.about-left__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    &:last-child {
      margin-left: 29px;
    }
    &:first-child {
      margin-right: 29px;
    }
  }
  @media screen and (min-width: 1338px) {
    margin-right: 131px;
    width: 108px;
    &:last-child {
      margin-right: 0px;
    }
    &:first-child {
      margin-left: 49px;
    }
  }
}
.about-right__img {
  width: 540px;
  height: 540px;
  margin-left: 146px;
}
