.contacts {
  @media screen and (max-width: 320px) {
    padding-top: 72px;
    padding-bottom: 92px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    padding-top: 72px;
  }
  @media screen and (min-width: 1338px) {
    padding-top: 180px;
  }
}
.contacts-contacts {
  @media screen and (max-width: 320px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    display: flex;
  }
  @media screen and (min-width: 1338px) {
    display: flex;
  }
}
.contacts-right {
  @media screen and (max-width: 320px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    margin-left: 28px;
  }
  @media screen and (min-width: 1338px) {
    margin-left: 144px;
  }
}

.contacts-right__title {
  @media screen and (max-width: 320px) {
    text-align: center;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 30px;
    line-height: calc(80 / 30);
    margin-left: 260px;
  }
  @media screen and (min-width: 1338px) {
    margin-left: 568px;
    font-size: 48px;
    margin-bottom: 60px;
    line-height: calc(72 / 48);
  }
  font-family: $font-style;
  font-weight: 600;
  color: #000000;
}
.contacts-left {
  @media screen and (max-width: 320px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
  }
  @media screen and (min-width: 1338px) {
    margin-top: -85px;
  }
}
.contacts-right__txt {
  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
  @media screen and (min-width: 1338px) {
    font-size: 20px;
    line-height: 30px;
  }
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}
.contacts-button {
  @media screen and (max-width: 320px) {
    width: 272px;
    height: 60px;
    padding: 18px 105px;
    font-size: 14px;
    line-height: calc(21 / 14);
    border-radius: 5px;
    margin-top: 37px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    width: 145px;
    height: 50px;
    border-radius: 5px;
    font-size: 13px;
    line-height: calc(20 / 13);
    padding: 14px 38px;
  }
  @media screen and (min-width: 1338px) {
    width: 312px;
    height: 70px;
    font-size: 20px;
    line-height: calc(30 / 20);
    padding: 20px 56px;
    border-radius: 10px;
  }
  background: #263238;

  font-family: $font-style;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;

  &:hover,
  :active {
    color: black;
    /* Преображение при наведении */
    background-image: radial-gradient(
      ellipse farthest-corner at 50% 50%,
      #263238,
      #fdeaa8
    );
  }
  cursor: pointer;
}
.contacts-input {
  @media screen and (max-width: 320px) {
    height: 50px;
    padding-left: 30px;
    &::placeholder {
      padding: 20px 0px;
      font-family: $font-style;

      font-weight: $font-weight400;
      font-size: 12px;
      line-height: calc(30 / 16);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    border-radius: 5px;
    width: 283px;
    height: 46px;
    font-size: 12px;
    line-height: calc(18 / 12);
    margin-right: 5px;
    padding-left: 30px;
    &::placeholder {
      padding: 20px 0px;
      font-family: $font-style;

      font-weight: $font-weight400;
      font-size: 12px;
      line-height: calc(30 / 16);
    }
  }
  @media screen and (min-width: 1338px) {
    font-size: 16px;
    width: 425px;
    height: 66px;
    line-height: calc(30 / 16);
    margin-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    &::placeholder {
      padding: 20px 0px;
      font-family: $font-style;

      font-weight: $font-weight400;
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
  font-family: $font-style;
  font-weight: $font-weight400;

  border: 1px solid #8f95a5;
}
.contacts-form {
  @media screen and (max-width: 320px) {
    flex-direction: column;
    width: 271px;
  }
  display: flex;
  margin-top: 30px;
}
