.header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and(min-width:768px) {
    padding: 39px 0px;
  }
  @media screen and(min-width:1338px) {
    padding: 55px 0px;
  }
}
.header-container {
  display: flex;
}
.header-nav {
  @media screen and(min-width:319px) and (max-width: 1337px) {
    display: none;
  }
  @media screen and(min-width:1338px) {
    display: flex;
    align-items: center;
  }
}
.logo {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 30px;
    line-height: 45px;
  }
  @media screen and (min-width: 1338px) {
    margin-right: 236px;
    font-size: 36px;
    line-height: 1.5;
  }
  font-family: $font-style;
  font-weight: $font-weight400;
  display: flex;
  align-items: center;
  color: #939393;

  &:hover,
  :active {
    color: $black-color;
  }
}

.logo2 {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
  }
  @media screen and (min-width: 768px) and (max-width: 1337px) {
    font-size: 30px;
    line-height: 45px;
  }
  @media screen and (min-width: 1338px) {
    font-size: 36px;
    line-height: 1.5;
  }
  font-family: $font-style;

  font-weight: $font-weight400;

  display: flex;
  align-items: center;

  color: $black-color;
  &:hover,
  :active {
    color: #939393;
  }
}
.header-item {
  display: flex;
}

.header-list {
  font-family: $font-style;
  font-weight: $font-weight500;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
  color: $main-color;
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid;
    transition: 0.3s;
  }
}

.header-btn {
  @media screen and(min-width:319px) and (max-width: 1337px) {
    display: none;
  }
  font-family: $font-style;
  margin-left: auto;
  font-weight: $font-weight400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-color;
  padding: 20px 56px;
  border: 2px solid #263238;
  border-radius: 10px;
  background-color: transparent;
  min-width: 312px;
  min-height: 70px;

  &:hover,
  :active {
    /* Преображение при наведении */
    background-image: radial-gradient(
      ellipse farthest-corner at 50% 50%,
      #fdeaa8,
      #263238
    );
  }
  cursor: pointer;
}
